.shimmer-card {
  box-shadow: 0px 0px 20px 10px rgba(21, 158, 231, 0.25);
}

.shimmer-img,
.shimmer-title,
.shimmer-line,
.shimmer-button {
  background: linear-gradient(
    to right,
    #2a2a2a 0%,
    #3a3a3a 20%,
    #2a2a2a 40%,
    #2a2a2a 100%
  );
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

.shimmer-img {
  width: 80%;
  height: 350px;
}

.shimmer-title {
  height: 40px;
  width: 60%;
  margin: auto;
}

.shimmer-line {
  height: 20px;
  width: 100%;
}

.shimmer-button {
  height: 50px;
  width: 190px;
  margin: auto;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}