.img-size {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

.bg-info{
  background: linear-gradient(120deg, rgb(34, 40, 40)); 
}

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
 
}
.b1{
  
  height: 65.5vh;
}
.home-h{ 
  font-weight: 900;
  color: rgb(0, 173, 181);
  line-height: 0.8;
  font-size: 80px;
 
}

body{
  background-color:black;
}
.btn-info{
  background-color: rgb(0, 173, 181);
  color:black;
  border: none;
}
.img-f{
  height: 65.5vh !important;
  width: 100% !important;
  border-radius: 1%;
  box-shadow: 0px 0px 50px 10px rgb(0, 173, 181);
}


.footer {
  background-color: rgb(57, 62, 70);
  height: 78px;
  width: 100%;
}

.text-col{
  color: white;
  font-size: 20px;
}
.text-col:hover{
  color: rgb(0, 173, 181);
}
strong{
  color: rgb(0, 173, 181);
}
h2{
  font-weight: 400;
  color: rgb(0, 173, 181);
}
.links{
  color: white;
  font-size: 30px;
}
.links:hover{
  color: rgb(0, 173, 181);
  /* font-size: 35px;; */
}

.text-info{
  color: rgb(0, 173, 181);
}
.active{ 
  font-size: 110%;
}



.shimmer-card {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #1e1e1e;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.shimmer-img,
.shimmer-text {
  background: linear-gradient(
    to right,
    #2a2a2a 0%,
    #3a3a3a 20%,
    #2a2a2a 40%,
    #2a2a2a 100%
  );
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

.shimmer-img {
  height: 100vh;
}

.shimmer-text {
  height: 30vh;
  margin-top: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}